.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    /* This makes the 'highlight' box invisible */
    -fx-highlight-fill: transparent;
    /* This ensures the text stays white even if 'selected' */
    -fx-highlight-text-fill: white;
}

.text-field:focused {
    -fx-background-color: #333333;
    /* Removes the default blue/white focus border */
    -fx-background-insets: 0;
    -fx-border-color: #e87c03;
    -fx-border-width: 0 0 2 0;
}

/* This is the final nail in the coffin for the highlight box */
.text-field .selection {
    -fx-fill: transparent;
}